# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "github-actions"
    directory: "/security-actions/sca"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "github-actions"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/security-actions/scan-docker-image"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "github-actions"
      include: "scope"
    
  - package-ecosystem: docker
    directory: "/security-actions/scan-docker-image"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "docker"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/security-actions/sign-docker-image"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "github-actions"
      include: "scope"
    
  - package-ecosystem: docker
    directory: "/security-actions/sign-docker-image"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "docker"
      include: "scope"
  
  - package-ecosystem: "github-actions"
    directory: "/code-check-actions/luacheck"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "github-actions"
      include: "scope"
  
  - package-ecosystem: "github-actions"
    directory: "/code-check-actions/rustcheck"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "github-actions"
      include: "scope"
  
  - package-ecosystem: "github-actions"
    directory: "/code-build-actions/build-sdk-js"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "github-actions"
      include: "scope"
  
  - package-ecosystem: pip
    directory: "/security-actions/semgrep"
    schedule:
      interval: "daily"
